*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
 }

body{font-family: 'Roboto', sans-serif;}

header{
  width: 100%;
  background-color: white;
  position: fixed;
  padding: 1em 0em;
  color: black;
  z-index: 1000;
 }

.header-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  }

header h1 {
  font-size: 20px;
  }
  
nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
  }

nav ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
  border-right: 1px solid gray;
  padding: 5px 20px 5px 0;
  }

nav ul li {
  list-style: none;
  }

nav .right-contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
  }

nav .right-contact .right-contact-icon {
  background-color: #61c3a1;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
nav .right-contact .right-contact-text p {
  font-size: 14px;
  line-height: 18px;
  }
  
/* Global  Styling */

.container {
  height: 80%;
  width: 80%;
  display: flex;
  }

.parent-flex {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.service-left {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
  } 
  
.service-right {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
  }

.right-time-text {
  font-size: 20px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  padding-top: 10px;
  }

.Know-more-about-us {
  text-align: center;
  margin-right: 200px;
}

.Learn-more-about-Us {
  text-align: center;
  margin-left: 600px;
}

button {
  border: 1px;
  background-color: #FF6433;
  width: 30%;
  height: 8vh;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  }

.btn-prt {
  gap: 10px;
  margin-top: 20;
  margin-left: 0;
  }

input {
  height:12vh;
  width: 100%;
  border: 0;
  margin: 2px;
  background-color: white;
  background-image: url("/img folder/Input White.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  }


/* End of Global Styling */

/* Main Styling */

.parent-flex {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
/* main .container .left-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  } */

main .container .left-text .content {
  width: 80%;
  }
  
main .container .main-right-img {
  /* width: 50%;
  height: 100%; */
  background-image: url("../img folder/Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: auto;
  }
  
.Service {
  position: absolute;
  left: -20%;
  top: -6%;
}
  
.Rating{
  position: absolute;
  right: -20%;
  bottom: -15%;
  }

main .container .time-icon {
  display: flex;
  align-items: center;
  column-gap: 10px;
  gap: 10px;
  margin-top: 20px;
  font-size: x-small;
  }

  /* car-servicing-styling */
.car-servicing-section-background {
  background-color: #e2e6e9;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  /* What we offer */

#what-we-offer {
  background-color: #F2F2F2;
  }
#what-we-offer .content {
  width: 100%;
  text-align: center;
  }

#what-we-offer .content .what-we-offer-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
   
  }

#what-we-offer .content .what-we-offer-cards .card {
  background-color: white;
  height: 180px;
  width: 200px;
  }

#what-we-offer .content .what-we-offer-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Orange-Box {
  width: 200px ;
  height: 180px;
  background-color: #FF6433;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

  /* get in touch */
#get-in-touch {
  height: 70vh;
  width: 100%;
}

#get-in-touch .first-row {
  height: 75%;
  width: 100%;
  display: flex;
}

#get-in-touch .first-row .left-car {
  width: 50%;
  height: 100%;
  background-image: url("../img folder/car-left.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#get-in-touch .first-row .left-car .left-car-card {
  height: 100%;
  width: 70%;
  background-color: #FF6433;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.card-button{
  width: 30%;
  background-color: black;
  color: #e2e6e9;
  padding: 6px 15px;
  margin-top: 12px;
  } 

.card .prt-btn {
  gap: 10px;
  margin-top: 20;
  margin-left: 0;
}


#get-in-touch .first-row .right-car {
  width: 50%;
  height: 100%;
  background-image: url("../img folder/car-right.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#get-in-touch .second-row {
  height: 25%;
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#get-in-touch .second-row P{
  font-size: 20px;
}

#get-in-touch .second-row .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.left-car-card h2{
  color: #e2e6e9;
}

#vl {
  display: flex;
  align-content: center;
  justify-content: center;
}

h2 {
  font-size: 35px;
  margin-bottom: 1px;
  padding-top: 4px;
  color: #661CE7;
}


  /* Footer Styling */
.footer-background {
  background-color: black;
  }

/* For Mobile */
  @media screen and (max-width: 425px) {
  
    /* global */
  .parent-flex {
    height: auto;
  }

  .container {
    height: auto;
  }

  header {
    position: static;
  }

  .header-container {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  header h1 {
    font-size: 18px;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    column-gap: 20px;
    border: none;
  }
  nav ul li {
    font-size: 12px;
  }

  nav .right-contact .right-contact-icon {
    width: 20px;
    height: 20px;
  }

  nav .right-contact .right-contact-icon .icon {
    font-size: 1px;
  }

  nav .right-contact .right-contact-text p {
    font-size: 10px;
  }

.container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 15px;
    row-gap: 15px;
  }

.left {
    width: 100%;
    padding: 20px 0;
  }

.right {
  width: 100%;
  padding: 20px 0;
}

.right-time-text{
  font-size: 15px;
}

main .container .main-right-img {
  height: 50vh;
  }

.Service {
  position: absolute;
  left: -20%;
  top: -12%;
}
    
.Rating{
  position: absolute;
  right: -18%;
  bottom: -18%;
}

h1, .btn-prt {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.btn-prt {
  padding: 8px 20px;
  }

.Know-more-about-us {
  text-align: center;
  margin-right: 70px;
}
    
.Learn-more-about-Us {
  text-align: center;
  margin-left: 10px;
  font-size: 13px;
}

#get-in-touch .first-row {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#get-in-touch .first-row .left-car .left-car-card {
  height: 30vh;
  width: 70%;
}

#get-in-touch .first-row .left-car {
  width: 100%;
  height: 30vh;
}

#get-in-touch .first-row .right-car {
  height: 30vh;
  width: 100%;
}

#get-in-touch .second-row { 
  flex-direction: column;
}

#get-in-touch .second-row .container .rating-content {
  width: 70%;
  height: 18vh;
}
#get-in-touch .second-row .container .rating-content p {
  font-size: 10px;
}

.left-car-card h2 {
  font-size: 15px;
  justify-content: center;
  align-items: center;

}

.card-button{
  padding: 6px 18px;
  width: 70%;
  }
  
#get-in-touch .second-row .container{
  width: 100%;
  flex-direction: row;
}

h2{
  font-size: 25px;
  line-height: 15px;
}

#what-we-offer .content .what-we-offer-cards .card {
  background-color: white;
  height: 100px;
  width: 120px;
  }

#Orange-Box {
  width: 120px ;
  height: 100px;
}

}


/* For Tablet */ 

@media screen and (min-width: 425px) and (max-width: 850px) {

.parent-flex { 
  height: auto;
}
P{
  text-align: center;
}

.container {
  height: auto;
}

header {
  position: static;
}

.header-container {
  width: 100%;
  padding: 10px;
  flex-direction: column;
}

header h1 {
  font-size: 22px;
}

nav {
  flex-direction: column;
}

nav ul {
  column-gap: 20px;
  border: none;
}
nav ul li {
  font-size: 18px;
}

nav .right-contact .right-contact-icon {
  width: 22px;
  height: 22px;
}

nav .right-contact .right-contact-icon .icon {
  font-size: 12px;
}

nav .right-contact .right-contact-text p {
  font-size: 15px;
}

.container {
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  row-gap: 15px;
}

.left {
  width: 100%;
}

.right {
width: 100%;
}

main .container .left-text .content {
position: absolute;
}

.right-time-text{
font-size: 15px;
}

main .container .main-right-img {
height: 65vh;
}

.Service {
position: absolute;
left: -18%;
top: -9%;
}
  
.Rating{
position: absolute;
right: -17%;
bottom: -12%;
}

h1, .btn-prt {
font-size: 35px;
z-index: 100;
justify-content: center;
align-items: center;
text-align: center;
}


.btn-prt {
padding: 10px 20px;
}

.Know-more-about-us {
text-align: center;
margin-right: 70px;
}
  
.Learn-more-about-Us {
text-align: center;
margin-left: 10px;
font-size: 13px;
}

#get-in-touch .first-row {
height: auto;
display: flex;
align-items: center;
flex-direction: column;
}

#get-in-touch .first-row .left-car .left-car-card {
height: 30vh;
width: 70%;
}

#get-in-touch .first-row .left-car {
width: 100%;
height: 30vh;
}

#get-in-touch .first-row .right-car {
height: 30vh;
width: 100%;
}

#get-in-touch .second-row { 
flex-direction: column;
}

#get-in-touch .second-row .container .rating-content {
width: 70%;
height: 18vh;
}
#get-in-touch .second-row .container .rating-content p {
font-size: 10px;
}

.left-car-card h2 {
font-size: 30px;
line-height: 30px;
justify-content: center;
align-items: center;

}

.card-button{
padding: 10px 20px;
width: 30%;
}

#get-in-touch .second-row .container{
width: 100%;
flex-direction: row;
}

h2{
font-size: 40px;
align-content: center;
}


#what-we-offer .content .what-we-offer-cards .card {
background-color: white;
height: 100px;
width: 120px;
}

#Orange-Box {
width: 120px ;
height: 100px;
}

} 




